<%- include('./partials/head.ejs') %>
    <title>Neighborhood Events</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main class="main-content">
      <div id="aboutAndContact-page">
        <h3>--- <%=error.status%> Error ---</h3> 
        <p><%=error.message%></p>
      </div>
  </main>
<%- include('./partials/footer.ejs') %>