<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/newConnection.css" />
    <title>Profile</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="profile">
        <h2><%=user.firstName%>'s Connections</h2>
        <% if(connections.length) { %>
          <table>
            <thead>
              <tr>
                <th>Connection</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <% connections.forEach(connection => { %>
              <tr>
                <td><a href="/connections/<%= connection.id %>"><%= connection.name %></a></td>
                <td><%= connection.category %></td>
                <td>
                  <form class="event-buttons">
                    <button type="submit" formmethod="GET" formaction="/connections/<%= connection.id %>/edit">Update</button>
                    <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>?_method=DELETE">Delete</button>
                  </form>
                </td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        <% }
        else { %>
          <p>You have not created any connections</p>
        <% } %>
      </div>
    </main>
<%- include('../partials/footer.ejs') %>