<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/connections.css" />
    <title>Neighborhood Events</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="all-events">
        <% if(categories.length) { 
          categories.forEach(category => { %>
            <div class="event">
              <h3 class="event-headers"><%= category %></h3>
              <ul>
              <% if(connections.length) {
                connections.forEach(connection => {
                  if(connection.category === category) { %>
                    <li><a href="/connections/<%= connection.id %>"><%= connection.name %></a></li>
                  <% }
                });
              } %>
              </ul>
            </div>
          <% }); %>
        <% } %>
      </div>
    </main>
<%- include('../partials/footer.ejs') %>
