<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/connection.css" />
    <title>Event</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="content">
        <h2 id="event-title"><%= connection.name %></h2>
        <div class="event">
          <div id="event-img-container">
            <img id="event-img" src="<%= connection.img %>" alt="pizza party" />
          </div>
          <div class="event-info">
            <h3>Hosted by: <%= connection.hostName %></h3>
            <p><%= connection.date %></p>
            <p><%= connection.startTime %> - <%= connection.endTime %></p>
            <p><%= connection.loc %></p>
          </div>
        </div>
        <div class="event-details">
          <h3>Details</h3>
          <p>
            <%= connection.details %>
          </p>
        </div>
        <div class="event-buttons">
          <a href="./connections.html">Update</a>
          <a href="./connections.html">Delete</a>
        </div>
      </div>
    </main>
<%- include('../partials/footer.ejs') %>
